// Google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

// Variables

//Colors
$first-color: #bdff5f;
$title-color: #1a1a1a;
$text-color: #4F5464;
$body-color: #F7F9FC;
$container-color: #fff;

// Typography

$body-font: "Poppins", sans-serif;
$normal-fontsize: 1.6rem;
$small-fontsize: 1.4rem;
$smaller-fontsize: 1.2rem;

@media screen and (min-width: 968px) {
  $normal-fontsize: 1rem;
  $small-fontsize: .875rem;
  $smaller-fontsize: .813rem;
}